@model MVC_Razor.Models.JobInfo


<h2>title</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Description)
        @Html.TextBoxFor(a => a.Description, new {@class = "form-control"})
        <input type="submit">
    </div>
}