@model MVC_Razor.Models.PersonViewModel

@{
    ViewBag.Title = "title hi";   
}

<h2>title</h2>


@Html.DisplayNameFor(a=>a.PreviousJobs)


    @foreach (var p in Model.PreviousJobs)
    {
        <div> @Html.Label(p, new { @class = "alert-danger" })</div>
    }
